$color: #660099;

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: white !important;
}

.active {
  background-color: $color !important;
  font-weight: bold;
  color: white !important;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.img-header {
  width: 30%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.ul {
  float: left;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.a {
  text-decoration: none;
  color: $color;
  font-size: 16px;
  background-color: transparent;
  padding: 5px 10px;
}

.a:hover {
  background-color: $color;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.li {
  margin-left: 25px;
  margin-right: 25px;
}

.spacer {
  flex: 1 1 auto;
}

.none {
  display: none;
}

.block {
  display: block;
}

.container-image {
  background-repeat: repeat;
  background-size: 100%;
  opacity: 0.05;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10000;
}
