<mat-toolbar>
  <span>
    <img class="img-header" src="../../../assets/img/img-header.png">
  </span>
  <span class="spacer"></span>
  <ul class="ul">
    <li class="li"><a class="a" routerLink="/list" routerLinkActive="active">Lista</a></li>
    <li class="li"><a class="a" routerLink="/balance" routerLinkActive="active">Extrato entradas completo</a></li>
    <li class="li"><a class="a" routerLink="/extract" routerLinkActive="active">Extrato saídas completo</a></li>
  </ul>
</mat-toolbar>

<div>
  <img class="container-image" src="../../../assets/img/img-background.png">
</div>
